# Server Configuration
PORT=5000
NODE_ENV=development

# Database Configuration (PostgreSQL)
DATABASE_URL=postgresql://postgres:password@localhost:5432/brentiq_db?schema=public

# Allowed Frontend Origins (Comma-separated for multiple origins)
FRONTEND_URL=http://localhost:3000
